input[type="checkbox"]{
    position: relative;
    width: 50px;
    height: 20px;
    -webkit-appearance: none;
    background: #e74c3c;
    outline: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);
}
input:checked[type="checkbox"]{
    background: #2ecc71;
}
input[type="checkbox"]:before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: white;
    transition: 0.5s;
    
}
input:checked[type="checkbox"]:before{
    left: 30px;
}